.addMoreBtn {
  background-color: rgb(143, 51, 197);
  margin-top: 50px;
  color: #ffffff;
  width: 15%;
  padding: 10px 30px;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.addMoreBtn button {
  outline: none;
  border: none;
  background-color: transparent;
 color: #ffffff;
 font-weight: 700;
}

.BoostrapTable{
    margin-top: 100px;
}
